/* ColorHunt palette: https://colorhunt.co/palette/43766cf8fae5b1947076453b */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--white: hsl(0, 0%, 100%);
	--gray: #ccc;
	--teal: #43766C;
	--yellow: #F8FAE5;
	--beige: #B19470;
	--brown: #76453B;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--teal);
	font-family: 'Poppins', 'sans-serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
	padding: 0 1.5rem;
}

.container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1000px;
	padding: 5rem 0;
	color: var(--white);
}

h1 {
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 2.5rem;
	margin: 0;
	padding: 0;
}

.divider {
	width: 100%;
	height: 0;
	border: 1px solid var(--yellow);
	margin: 2.5rem 0;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.left {
	width: 50%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px solid var(--yellow);
}

.left h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

.left h2 a {
	color: var(--gray);
	cursor: pointer;
	text-decoration: none;
}

.left h2 a:hover {
	color: var(--beige);
}

.strength {
	width: 100%;
	margin: 1.5rem 0 0.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.strength-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}

.strength-header img {
	height: 20px;
	color: var(--gray);
	margin-left: 0.4rem;
	margin-bottom: 0.35rem;
}

.strength h3, p {
	margin: 0;
}

.strength h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0.5rem;
	color: var(--gray);
}

.strength h3:hover {
	color: var(--beige);
}

.strength-header:active {
	transform: scale(0.98);
}

.strength p {
	text-align: justify;
	transition: visibility 0s, opacity 0.2s linear;
	line-height: 1.75rem;
	font-size: 0.9rem;
}

.right {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: 1px solid var(--yellow);
}

.right::after {
	content: '';
	background: url(./public/pattern-topography.svg) repeat;
	height: 400px;
	width: 400px;
	position: absolute;
	display: inline-block;
	z-index: -1;
	translate: 20px 20px;
}

.display-img {
	height: 400px;
	width: 400px;
	border-radius: 5px;
}

.hide-buttons {
	display: none;
}

.hide-statement {
	visibility: none;
	opacity: 0;
	height: 0;
	z-index: -1;
}

footer {
	flex-shrink: 0;
	height: fit-content;
	padding: 0.5rem;
	text-align: center;
	color: var(--teal);
	font-size: 0.8rem;
	border-top: 5px;
	background-color: var(--yellow);
	width: 100vw;
}

footer a {
	text-decoration: none;
	color: var(--beige);
}

footer a:hover {
	color: var(--teal);
}

@media(max-width: 1050px) {
	.container {
		width: 100%;
	}

	.heading {
		text-align: center;
	}

	.content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.left {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid var(--yellow);
		padding: 0;
		padding-bottom: 1.5rem;
	}

	.strength {
		align-items: center;
	}

	.right {
		width: 100%;
		border-left: none;
		border-top: 1px solid var(--yellow);
		padding: 2.5rem 0;
	}

	.strength p {
		text-align: center;
	}
}

@media(max-width: 550px) {
	.right::after {
		width: 100%;
		height: 200px;
		translate: 0px 90px;
		z-index: -1;
	}

	.display-img {
		width: 100%;
		height: 100%;
	}
}